  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="aplikasi inventory">
    <meta name="author" content="grace">
    <title>Dashboard Template · Bootstrap v5.3</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/custom-template.css">
    <link rel="icon" href="/gambar/dosencoding-black.png">
    <script src="/bootstrap/js/bootstrap.js"></script>
  </head>